body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    "aside header"
    "aside main";
}

body > * {
  font-family: "Roboto", sans-serif;
  padding: 1.5rem;
}
