.header {
  grid-area: header;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr auto;
  gap: 2rem;
  background-color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Header - Search bar */
.header .search-bar {
  display: flex;
  align-items: center;
}

.header .search-bar label {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.header .search-bar label .icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--tertiary-color);
  mask: url("../img/icon-search.svg");
  mask-size: cover;
}

.header .search-bar label .icon:hover {
  background-color: var(--black);
}

.header .search-bar input {
  flex: 1;
  background-color: var(--grey);
  border: 1px solid var(--grey);
  border-radius: 2rem;
  padding: 0.25rem 1rem;
}

.header .search-bar input:focus {
  background-color: var(--white);
  border-color: var(--primary-color);
}

/* Header - Account */
.header .account {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
}

.header .account a {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--black);
  text-decoration: none;
  font-weight: 700;
}

.header .account a:hover {
  color: var(--tertiary-color);
}

.header .account a .icon-notification {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--black);
  mask: url("../img/icon-notification.svg");
  mask-size: cover;
}

.header .account a .icon-notification:hover {
  background-color: var(--tertiary-color);
}

.header .account a .icon-account {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: var(--black);
  mask: url("../img/icon-account.svg");
  mask-size: cover;
}

.header .account a .icon-account:hover {
  background-color: var(--tertiary-color);
}

/* Header - Greetings */
.header .greetings {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
}

.header .greetings .icon {
  grid-row: 1 / -1;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-color: var(--black);
  mask: url("../img/icon-account.svg");
  mask-size: cover;
  place-self: center;
}

.header .greetings .text1 {
  align-self: end;
  font-size: 0.8rem;
  font-weight: 700;
}

.header .greetings .text2 {
  align-self: start;
  font-size: 1.25rem;
  font-weight: 700;
}
/* Header - Controls */
.header .controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .controls button {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 2rem;
  color: var(--white);
  background-color: var(--primary-color);
  transition: 0.2s;
  cursor: pointer;
}

.header .controls button:hover {
  opacity: 0.9;
}
